@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="d-flex flex-column min-vh-100 bg-dark-subtle bg-gradient">
            <article class="content px-4 flex-grow-1">
                @Body
            </article>

            <div class="mt-auto p-3 text-center border-top">
                <a class="text-decoration-none text-primary fw-medium"
                   href="https://github.com/abhinavsingh1311"
                   target="_blank"
                   rel="noopener noreferrer">
                    <span class="bi bi-github"></span> About me
                </a>
                <span class="mx-2">•</span>
                <span class="text-muted small">Personal Project</span>
            </div>
        </div>

    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
