@page "/"

<PageTitle>Home</PageTitle>

<h1>Webhooks delivery Service</h1>

<div class="container">
    <div class="flex flex-column">
        <a href="/endpoints">Go to the endpoint page</a>
        <a href="/events">Go check the events</a>
    </div>
</div>